<template>
    <div>
        <div class="andro_subheader pattern-bg primary-bg">
            <div class="container">
                <div class="andro_subheader-inner">
                    <h1>Cart</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Subheader End -->

        <!--Cart Start -->
        <div class="section">
            <div class="container">

                <template v-if="items.length">
                    <table class="andro_responsive-table" >
                        <thead>
                        <tr>
                            <th class="remove-item"></th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Qunantity</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <cart-item-component @remove="removeFromCart" @update="" v-for="(item, index) in items" :key="index" :item="item" />
                        </tbody>
                    </table>
                </template>
                <template v-else>
                    <h3>Cart is empty</h3>
                </template>
            </div>
        </div>
        <!-- Cart End -->

        <!-- Cart form Start -->
        <div class="section pt-0" v-if="subTotal">
            <div class="container">

                <div class="row andro_cart-form">
                    <div class="col-lg-6">

                        <div class="section-title">
                            <h4 class="title">Cart Total</h4>
                        </div>

                        <table>
                            <tbody>
                                <tr>
                                    <th>Subtotal</th>
                                    <td>{{ subTotal.toFixed(2) }}</td>
                                </tr>
                                <tr>
                                    <th>Tax</th>
                                    <td>{{ tax.toFixed(2) }}  <span class="small">(11%)</span></td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td><b>{{ total.toFixed(2) }}</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="/checkout" class="andro_btn-custom primary btn-block">Proceeed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart form End -->

        <!-- Instagram Start -->
        <div class="row no-gutters">
            <div class="col-lg-4 secondary-bg pattern-bg">
                <div class="andro_instagram">
                    <h3 class="text-white">Follow Us On Instagram</h3>
                    <a href="#" class="andro_btn-custom light">Follow Us</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                        <a href="#" class="andro_ig-item">
                            <img src="assets/img/ig/1.jpg" alt="ig">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                        <a href="#" class="andro_ig-item">
                            <img src="assets/img/ig/2.jpg" alt="ig">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                        <a href="#" class="andro_ig-item">
                            <img src="assets/img/ig/3.jpg" alt="ig">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                        <a href="#" class="andro_ig-item">
                            <img src="assets/img/ig/4.jpg" alt="ig">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                        <a href="#" class="andro_ig-item">
                            <img src="assets/img/ig/5.jpg" alt="ig">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                        <a href="#" class="andro_ig-item">
                            <img src="assets/img/ig/6.jpg" alt="ig">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Instagram End -->
    </div>
</template>

<script>

    import CartItemComponent from "./CartItemComponent";
    import EventBus from "../bus";
    export default {

        components: {
            CartItemComponent
        },

        props: ['products'],

        data() {
            return {
                items: [],
                subTotal: 0,
                tax: 0,
                total: 0
            }
        },

        methods: {

            removeFromCart(val) {

                axios.delete('/cart/remove', {data: {id: val}})

                    .then((res) => {
                        let index = this.items.findIndex(item => item.product_id === val);
                        this.items.splice(index, 1);

                        if (res.data) {
                            EventBus.$emit('cart-updated', {
                                sum: res.data.data['sum'],
                                qty: res.data.data['qty']
                            });
                        }
                    })
                    .catch((err) => console.log(err));
            },

            reducer(accumulator, currentValue) {
                return accumulator + currentValue;
            },

            taxAndTotal() {
                this.tax = (this.subTotal * 11 / 100);
                this.total = (this.subTotal + this.tax);
            }
        },

        mounted() {
            this.items = Object.values(this.products);
            if (this.items.length>0) {
                this.subTotal = (this.items.map(item => (parseFloat(item['price']) * parseInt(item['quantity']))).reduce(this.reducer));
                this.taxAndTotal();
            }

            EventBus.$on('cart-updated', (obj) => {
                this.subTotal = obj['sum'];
                this.taxAndTotal();
            });
        }
    }
</script>
