<template>
    <li class="andro_header-cart">
        <a href="/cart" title="Your Cart">
            <i class="flaticon-shopping-basket"></i>
            <div v-if="total" class="andro_header-cart-content">
                <span>{{ qty }} coffees</span>
                <span>{{ total.toFixed(2) }} azn </span>
            </div>
        </a>
    </li>
</template>

<script>
    import EventBus from '../bus';
    export default {
        name: "HeaderCartComponent",

        props: ['products'],

        data() {
            return {
                total: 0,
                qty: 0,
                items: []
            }
        },

        methods: {

            reducer(accumulator, currentValue) {
                return accumulator + currentValue;
            }
        },

        mounted() {

            this.items = Object.values(this.products);
            if (this.items.length>0) {
                this.total = this.items.map(item => (parseFloat(item['price']) * parseInt(item['quantity']))).reduce(this.reducer);
                this.qty = this.items.map(item => parseInt(item['quantity'])).reduce(this.reducer);
            }

            EventBus.$on('cart-updated', (obj) => {
                if (obj) {
                    this.total = obj['sum'];
                    this.qty = obj['qty'];
                }
            });
        }
    }
</script>
